@if (watchList$ | async; as watchList) {
  @if (watchList.isLoading) {
    <nz-spin nzSimple nzSize="large"></nz-spin>
  } @else {
    @if (watchList.data; as lists){
      <div class="flex flex-col gap-8">
        @for (list of lists.results; track list.id){
          <div class="flex gap-8">
            <img [src]="environment.mediaUrl + list.poster_path" class="w-32" [alt]="list.title">
            <div class="flex flex-col my-2 gap-2">
              <div class="flex items-center gap-2">
                <span>Name: </span>
                <span>{{list.title}}</span>
              </div>
              <div class="flex items-center gap-2">
                <app-imdb></app-imdb>
                <span>{{list.vote_average}}</span>
              </div>
              <div class="flex items-start gap-2">
                <span>Summary: </span>
                <span>{{list.overview}}</span>
              </div>
              <div class="flex items-center">
                <span class="p-1 bg-red-400 cursor-pointer rounded-md" (click)="removeWatchList(list.id)">Remove From Watch List <nz-icon nzType="star" nzTheme="fill" style="font-size: 16px"/></span>
              </div>

            </div>
          </div>
        }
      </div>
    }
  }
}
