@if (popular$ | async; as popular){
  @if (popular.data; as movies) {
    <nz-carousel nzEffect="scrollx" nzAutoPlay>
      @for (movie of movies.results; track $index) {
        <a class="flex flex-col relative" routerLink="movie/{{movie.id}}" nz-carousel-content>
          <div class="absolute">
            <img src="{{movie.backdrop_path}}" class="opacity-50" alt="popular">
          </div>
          <div class="flex flex-col gap-8 items-start absolute justify-center w-1/2 h-full to-transparent p-4">
            <h1 class="text-6xl !text-white text-start">{{movie.title}}</h1>
            <div class="flex items-center gap-6">
              <app-imdb></app-imdb>
              <span class="text-bold text-2xl">{{movie.vote_average}}</span>
            </div>
          </div>
        </a>
      }
    </nz-carousel>

  }
    <form (submit)="searchMovie()" [formGroup]="searchMovieGroup" class="flex items-center gap-8 mt-8">
      <input nz-input placeholder="Title" nzSize="large" formControlName="title"/>
      @if (genres$ | async; as genres){
        <nz-select nzShowSearch nzAllowClear [nzLoading]="genres.isLoading" nzPlaceHolder="Select a Genre" formControlName="genre">
          @for (genre of genres.data; track $index){
            <nz-option [nzLabel]="genre.name" [nzValue]="genre.id"></nz-option>
          }
        </nz-select>

      }
      <button nz-button nzType="primary" type="submit"><nz-icon nzType="search" nzTheme="outline" /> Search</button>
    </form>

  @if (searchedMovies$ | async; as searchedMovies){
    @if (searchedMovies.isLoading){
      <nz-spin nzSimple nzSize="large"></nz-spin>
    } @else {
      @if (searchedMovies.data; as movies){
        <div class="flex flex-col gap-8 mt-8">
          @for (movie of movies.results; track movie.id){
            <a routerLink="movie/{{movie.id}}" class="flex gap-8">
              <img [src]="movie.poster_path" class="w-32" [alt]="movie.title" />
              <div class="flex flex-col my-2 gap-2">
                <div class="flex items-center gap-2">
                  <span class="text-black">Name: </span>
                  <span class="text-black">{{movie.title}}</span>
                </div>
                <div class="flex items-center gap-2">
                  <app-imdb></app-imdb>
                  <span class="text-black">{{movie.vote_average}}</span>
                </div>
                <div class="flex items-start gap-2">
                  <span class="text-black">Summary: </span>
                  <span class="text-black">{{movie.overview}}</span>
                </div>
              </div>
            </a>
          }
        </div>
    }
  }
  }
}
