@if (popular$ | async; as popular){
  @if (popular.data; as movies) {
    <nz-carousel nzEffect="scrollx" nzAutoPlay>
      @for (movie of movies.results; track $index) {
        <a class="flex flex-col relative"  routerLink="movie/{{movie.id}}" nz-carousel-content>
          <div class="absolute">
            <img src="{{(environment.mediaUrl + movie.backdrop_path)}}" class="opacity-50" alt="popular">
          </div>
          <div class="flex flex-col gap-8 items-start absolute justify-center w-1/2 h-full to-transparent p-4">
            <h1 class="text-6xl !text-white text-start">{{movie.title}}</h1>
            <div class="flex items-center gap-6">
              <app-imdb></app-imdb>
              <span class="text-bold text-2xl">{{movie.vote_average}}</span>
            </div>
          </div>
        </a>
      }
    </nz-carousel>


<!--    <nz-carousel nzEffect="scrollx">-->
<!--      @for (movie of movies.results; track $index) {-->
<!--        <div nz-carousel-content>-->
<!--          <img src="{{(environment.mediaUrl + movie.poster_path)}}" class="w-72" alt="popular">-->
<!--        </div>-->
<!--      }-->
<!--    </nz-carousel>-->

  }
}
